.row.border-bottom.white-bg
	.col-sm-12
		h1 TITLE
		p DESCRIPTION
.row.m-t-lg(style="display:flex;")
	.col-xs-12.col-sm-4.col-md-4.col-lg-2
		.ibox
			.ibox-content
				.table-responsive
					table.table.table-bordered.table-hover
						thead
							tr
								th
									h2 Rooms
						tbody
							tr
								td Oasis Room 1
							tr
								td Oasis Room 2
							tr
								td Oasis Room 3
	.col-xs-12.col-sm-8.col-md-8.col-lg-10
		.ibox
			.ibox-content
				.row.m-b-sm.m-t-sm
					#calendar
